

<label for="input_ai">AI Nations</label>
<select id="input_ai" name="aiNations" class="form-control selectpicker" data-size="8" multiple data-selected-text-format="count">
    
    <!-- Must use typeof to check if variable exists at all, since it might be undefined -->
    <% if (typeof nations === "object" && Array.isArray(nations) === true) { %>
        <% nations.forEach((nation) => { %>
            <optgroup label="<%=nation.name %>" data-max-options="1">
                <option name="nation" data-subtext="easy" value="<%=nation.number %> easy"><%=nation.name %></option>
                <option name="nation" data-subtext="normal" value="<%=nation.number %> normal"><%=nation.name %></option>
                <option name="nation" data-subtext="difficult" value="<%=nation.number %> difficult"><%=nation.name %></option>
                <option name="nation" data-subtext="mighty" value="<%=nation.number %> mighty"><%=nation.name %></option>
                <option name="nation" data-subtext="master" value="<%=nation.number %> master"><%=nation.name %></option>
                <option name="nation" data-subtext="impossible" value="<%=nation.number %> impossible"><%=nation.name %></option>
            </optgroup>
        <% }); %>
    <% } %>

</select>