<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse navBGDark mt-2">
      
  <div class="position-sticky pt-3">

    <ul class="nav flex-column">

          <li class="nav-item">
            <a class='<%=(typeof page === "string" && page === "status") ? "nav-link active" : "nav-link"%>'  href="/status_screen">
              <i class="bi bi-server"></i>
              Server Status
            </a>
          </li>
          
          <li class="nav-item">
            <a class='<%=(typeof page === "string" && page === "dashboard") ? "nav-link active" : "nav-link"%>'  href="/user_home_screen">
              <i class="bi bi-speedometer"></i>
              Dashboard
            </a>
          </li>
          
          <% if (typeof sessionId === "string") { %>
            
            <li class="nav-item">
              <a class='<%=(typeof page === "string" && page === "host_dom6") ? "nav-link active" : "nav-link"%>'  href="/host_dom6">
                <i class="bi bi-hdd-network-fill"></i> 
                Host Dominions 6
              </a>
            </li>

            <li class="nav-item">
              <a class='<%=(typeof page === "string" && page === "host_dom5") ? "nav-link active" : "nav-link"%>'  href="/host_dom5">
                <i class="bi bi-hdd-network-fill"></i> 
                Host Dominions 5
              </a>
            </li>

            <li class="nav-item">
              <a class='<%=(typeof page === "string" && page === "settings_dom6") ? "nav-link active" : "nav-link"%>'  href="/change_dom6_settings">
                <i class="bi bi-gear-fill"></i>
                Change Dominions 6 Settings
              </a>
            </li>

            <li class="nav-item">
              <a class='<%=(typeof page === "string" && page === "settings_dom5") ? "nav-link active" : "nav-link"%>'  href="/change_dom5_settings">
                <i class="bi bi-gear-fill"></i>
                Change Dominions 5 Settings
              </a>
            </li>
            
            <li class="nav-item">
              <a class='<%=(typeof page === "string" && page === "preferences") ? "nav-link active" : "nav-link"%>'  href="/edit_preferences">
                <i class="bi bi-sliders"></i>
                Change Preferences
              </a>
            </li>
          
          <% } %>
          
    </ul>
  
</nav>