<div id="ai_input_div" class="row mb-2">

    <!-- Must use typeof to check if variable exists at all, since it might be undefined -->
    <% if (typeof nations === "object" && Array.isArray(nations) === false) { %>
        
        <legend class="col-form-label col-sm-3 pt-0">AI Nations</legend>
        
        <% for (let eraNbr in nations) { %>

            <div id="ai_<%=eraNbr%>_container" class="col-sm-9" name="ai_select_container" <% if (typeof gameSettings === "object" && gameSettings.era != eraNbr) { %> style="display:none;" <% } %> >
                
                <select id="input_ai_<%=eraNbr%>" name="aiNations" data-placeholder="Select AI players" data-select-all="false" multiple data-multi-select data-theme="light">

                    <% nations[eraNbr].forEach((nation) => { %>
  
                        <optgroup label="<%=nation.name %>" data-max-options="1">
                            
                            <option name="nation" value="<%=nation.number %> easy"        <% if (typeof gameSettings === "object" && gameSettings.aiNations[nation.number] != null && gameSettings.aiNations[nation.number] === "easy") { %> selected <% } %> ><%=nation.name %> (easy)</option>
                            <option name="nation" value="<%=nation.number %> normal"      <% if (typeof gameSettings === "object" && gameSettings.aiNations[nation.number] != null && gameSettings.aiNations[nation.number] === "normal") { %> selected <% } %> ><%=nation.name %> (normal)</option>
                            <option name="nation" value="<%=nation.number %> difficult"   <% if (typeof gameSettings === "object" && gameSettings.aiNations[nation.number] != null && gameSettings.aiNations[nation.number] === "difficult") { %> selected <% } %> ><%=nation.name %> (difficult)</option>
                            <option name="nation" value="<%=nation.number %> mighty"      <% if (typeof gameSettings === "object" && gameSettings.aiNations[nation.number] != null && gameSettings.aiNations[nation.number] === "mighty") { %> selected <% } %> ><%=nation.name %> (mighty)</option>
                            <option name="nation" value="<%=nation.number %> master"      <% if (typeof gameSettings === "object" && gameSettings.aiNations[nation.number] != null && gameSettings.aiNations[nation.number] === "master") { %> selected <% } %> ><%=nation.name %> (master)</option>
                            <option name="nation" value="<%=nation.number %> impossible"  <% if (typeof gameSettings === "object" && gameSettings.aiNations[nation.number] != null && gameSettings.aiNations[nation.number] === "impossible") { %> selected <% } %> ><%=nation.name %> (impossible)</option>
       
                        </optgroup>

                    <% }); %>

                </select>
                
            </div>

        <% } %> <!-- for -->
    <% } %> <!-- if -->

    <!-- Update AI list based on chosen era -->
    <script src="../../js/update_ai_partial.js"></script>

</div>
