

<%- include('../partials/head.ejs')-%>
<%- include('../partials/navbar.ejs', {page: "preferences"})-%>


<div id="body" class="h-100 bg">

    <div class="container card">

        <div class="card-header">

            <span>Change your preferences</span>

        </div>

    <div class="card-body row d-flex align-items-center flex-column">

        <form id="preferences_form">

            <input type="hidden" name="sessionId" value="<%=(typeof sessionId === "string") ? sessionId : "none"%>"/>
            <script src="../js/load_session_id.js"></script>
        
            <%- include('../partials/preferences_list.ejs')-%>
        
            <%- include('../partials/game_preferences.ejs')-%>
        
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-dark btn-lg">Save preferences</button>
                </div>
            </div>
        
            <script src="js/update_preferences.js"></script>
            
        </form>

    </div>
</div>


<%- include('../partials/footer.ejs')-%>