

<%- include('../partials/head.ejs')-%>
<%- include('../partials/body_start.ejs')-%>

<form id="preferences_form">

    <input type="hidden" name="token" value="<%=(typeof token === "string") ? token : "none"%>"/>

    <%- include('../partials/game_list.ejs')-%>

    <%- include('../partials/game_preferences.ejs')-%>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-dark btn-lg">Save preferences</button>
        </div>
    </div>

    <script src="js/update_preferences.js"></script>
    
</form>

<%- include('../partials/body_end.ejs')-%>
<%- include('../partials/footer.ejs')-%>
                    