
<%- include('../partials/head.ejs')-%>
<%- include('../partials/navbar.ejs')-%>

  <body>
    
    <div class="container-fluid">
          
          <div class="row">
            
            <%- include('../partials/sidebar.ejs', {page: "home"})-%>
        
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
              
              <div class="align-items-left pt-3 pb-2 mb-3">
                
                <%- include('../partials/content/home_content.html')-%>
                
              </div>
              
              <%- include('../partials/footer.ejs')-%>
              
            </main>
    
          </div>
      
      </div>
    
  </body>

</html>

<script>

    function generateRandomString() 
    {
        let randStr = '';
        const rand = Math.floor(Math.random() * 10);

        for (let i = 0; i < 20 + rand; i++)
        {
            randStr += String.fromCharCode(33 + Math.floor(Math.random() * 94));
        }

        return randStr;
    }

    window.onload = () => 
    {
        const fragment = new URLSearchParams(window.location.hash.slice(1));

        if (fragment.has("access_token") === false)
        {
            const randStr = generateRandomString();
            localStorage.setItem('stateParameter', randStr);

            document.getElementById('login').href += `&state=${encodeURIComponent(btoa(randStr))}`;
            return document.getElementById('login').style.display = 'block';
        }

        else
        {
            const urlState = fragment.get("state");
            const stateParameter = localStorage.getItem('stateParameter');

            console.log("urlState: " + urlState);
            console.log("stateParameter: " + stateParameter);

            if (stateParameter !== atob(decodeURIComponent(urlState)))
                return console.log("You may have been clicjacked!");


            const accessToken = fragment.get("access_token");
            const tokenType = fragment.get("token_type");

            console.log("access_token: " + accessToken);
            console.log("tokenType: " + tokenType);

            fetch('https://discord.com/api/users/@me', {
                    headers: { authorization: `${tokenType} ${accessToken}` }
            })
            .then((res) => res.json())
            .then((response) => 
            {
                console.log(response);
                const { username, discriminator } = response;
                document.getElementById('info').innerText += ` ${username}#${discriminator}`;
            })
            .catch(console.error);
        }
    }

</script>