

<%- include('../partials/head.ejs')-%>
<%- include('../partials/body_start.ejs')-%>

<form id="host_game_form">

    <input type="hidden" name="token" value="<%=(typeof token === "string") ? token : "none"%>"/>

    <div class="form-group row">
        <label for="input_game_name" class="col-sm-2 col-form-label">Game Name</label>
        <div class="col-sm-10">
            <input type="name" class="form-control" id="input_game_name" name="name" required minlength="3" maxlength="32" pattern="^[^ !@#$%^&*()+\-=\[\]{};\x27:\x22\\|,.<>\/?]+$">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="input_master_password" class="col-sm-2 col-form-label">Master Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="input_master_password" name="masterPassword" required minlength="3" maxlength="20" pattern="^[^ !@#$%^&*()+\-=\[\]{};\x27:\x22\\|,.<>\/?]+$">
        </div>
    </div>

    <fieldset class="form-group">
        <div class="row">
            <%- include('../partials/guild_list.ejs')-%>
        </div>
    </fieldset>
    
    <fieldset class="form-group">
        <div class="row">
            <%- include('../partials/server_list.ejs')-%>
        </div>
    </fieldset>
    
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Era</legend>
            <div class="col-sm-10">
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="era" id="era_radio_ea" value="1" checked>
                    <label class="form-check-label" for="era_radio_ea">
                        Early Age
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="era" id="era_radio_ma" value="2">
                    <label class="form-check-label" for="era_radio_ma">
                        Middle Age
                    </label>
                </div>
                
                <div class="form-check disabled">
                    <input class="form-check-input" type="radio" name="era" id="era_radio_la" value="3">
                    <label class="form-check-label" for="era_radio_la">
                        Late Age
                    </label>
                </div>
                
            </div>
        </div>
    </fieldset>
    
    <!-- Select AI nations input filled up with handlebars template -->
    <div id="ai_input_div" class="form-group">

        <%- include('../partials/ai_nation_list.ejs')-%>

        <!-- Handlebars template compiler script -->
        <script src="../js/update_ai_partial.js"></script>
    </div>

    <!-- Fill mods programmatically depending on server chosen -->
    <div class="form-group">
        <label for="input_default_ai">Difficulty level when player goes AI</label>
        <select id="input_default_ai" name="defaultAiLevel" class="form-control selectpicker">

            <option value="0" selected>No going AI allowed</option>
            <option value="1">Easy AI</option>
            <option value="2">Normal AI</option>
            <option value="3">Difficult AI</option>
            <option value="4">Mighty AI</option>
            <option value="5">Master AI</option>
            <option value="6">Impossible AI</option>

        </select>
    </div>
    
    <!-- Fill mods programmatically depending on server chosen -->
    <div id="mods_div" class="form-group">
        <%- include('../partials/mod_list.ejs')-%>
    </div>
    
    <!-- Fill maps programmatically depending on server chosen -->
    <div id="maps_div" class="form-group">
        <%- include('../partials/map_list.ejs')-%>
    </div>

    <!-- Handlebars template compiler script for servers, maps and mods -->
    <script src="../js/update_mod_and_map_partials.js"></script>
    

    <div class="form-group row">
        <label for="input_gold_modifier" class="col-sm-2 col-form-label">Gold Modifier</label>
        <div class="col-sm-10">
            <input type="number" id="input_gold_modifier" name="goldModifier" value="100" min="50" max="300" pattern="\d\d\d?">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="input_resources_modifier" class="col-sm-2 col-form-label">Resources Modifier</label>
        <div class="col-sm-10">
            <input type="number" id="input_resources_modifier" name="resourcesModifier" value="100" min="50" max="300" pattern="\d\d\d?">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="input_supplies_modifier" class="col-sm-2 col-form-label">Supplies Modifier</label>
        <div class="col-sm-10">
            <input type="number" id="input_supplies_modifier" name="suppliesModifier" value="100" min="50" max="300" pattern="\d\d\d?">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="input_recruitment_modifier" class="col-sm-2 col-form-label">Recruitment Modifier</label>
        <div class="col-sm-10">
            <input type="number" id="input_recruitment_modifier" name="recruitmentModifier" value="100" min="50" max="300" pattern="\d\d\d?">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="input_starting_provinces" class="col-sm-2 col-form-label">Starting Provinces</label>
        <div class="col-sm-10">
            <input type="number" id="input_starting_provinces" name="startingProvinces" value="1" min="1" max="9" pattern="\d">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="input_cataclysm" class="col-sm-2 col-form-label">Cataclysm starts at turn:</label>
        <div class="col-sm-10">
            <input type="number" id="input_cataclysm" name="cataclysm" value="0" min="0" max="999" pattern="\d\d?\d?">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="input_global_slots" class="col-sm-2 col-form-label">Global Slots</label>
        <div class="col-sm-10">
            <input type="number" id="input_global_slots" name="globalSlots" value="5" min="3" max="9" pattern="\d">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="input_hall_of_fame" class="col-sm-2 col-form-label">Hall of Fame Entries</label>
        <div class="col-sm-10">
            <input type="number" id="input_hall_of_fame" name="hallOfFame" value="10" min="5" max="20" pattern="\d\d?">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="input_independents_strength" class="col-sm-2 col-form-label">Independent's Strength</label>
        <div class="col-sm-10">
            <input type="number" id="input_independents_strength" name="independentsStrength" value="5" min="0" max="9" pattern="\d">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="input_magic_sites" class="col-sm-2 col-form-label">Magic Sites Frequency</label>
        <div class="col-sm-10">
            <input type="number" id="input_magic_sites" name="magicSites" value="60" min="0" max="75" pattern="\d\d?">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="input_level_1_thrones" class="col-sm-2 col-form-label">Thrones</label>
        <div class="col-sm-10 flex_container_row flex_justify_start">

            <div class="margin_right_sm flex_container_row flex_justify_start">
                <input type="number" id="input_level_1_thrones" name="level1Thrones" value="6" min="0" max="20" pattern="\d\d?">
                <label for="input_level_1_thrones">Level 1</label>
            </div>

            <div class="margin_right_sm flex_container_row flex_justify_start">
                <input type="number" id="input_level_2_thrones" name="level2Thrones" value="3" min="0" max="15" pattern="\d\d?">
                <label for="input_level_2_thrones">Level 2</label>
            </div>

            <div class="margin_right_sm flex_container_row flex_justify_start">
                <input type="number" id="input_level_3_thrones" name="level3Thrones" value="1" min="0" max="10" pattern="\d\d?">
                <label for="input_level_3_thrones">Level 3</label>
            </div>

        </div>
    </div>
    
    <div class="form-group row">
        <label for="input_ascension_points" class="col-sm-2 col-form-label">Ascension Points</label>
        <div class="col-sm-10">
            <input type="number" id="input_ascension_points" name="ascensionPoints" value="8" min="1" max="80" pattern="\d\d?">
        </div>
    </div>
    
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Research Speed</legend>
            <div class="col-sm-10">
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="researchSpeed" id="research_radio_0" value="0">
                    <label class="form-check-label" for="research_radio_0">
                        Very Easy
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="researchSpeed" id="research_radio_1" value="1">
                    <label class="form-check-label" for="research_radio_1">
                        Easy
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="researchSpeed" id="research_radio_2" value="2" checked>
                    <label class="form-check-label" for="research_radio_2">
                        Normal
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="researchSpeed" id="research_radio_3" value="3">
                    <label class="form-check-label" for="research_radio_3">
                        Hard
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="researchSpeed" id="research_radio_4" value="4">
                    <label class="form-check-label" for="research_radio_4">
                        Very Hard
                    </label>
                </div>
                
            </div>
        </div>
    </fieldset>
    
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Starting Research</legend>
            <div class="col-sm-10">
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="startingResearch" id="starting_research_radio_0" value="0" checked>
                    <label class="form-check-label" for="starting_research_radio_0">
                        Spread evenly across schools
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="startingResearch" id="starting_research_radio_1" value="1">
                    <label class="form-check-label" for="starting_research_radio_1">
                        Randomly spread
                    </label>
                </div>
                
            </div>
        </div>
    </fieldset>
    
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Artifact Forging</legend>
            <div class="col-sm-10">
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="artifactForging" id="artifact_forging_radio_0" value="0" checked>
                    <label class="form-check-label" for="artifact_forging_radio_0">
                        Players can only forge one artifact per turn
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="artifactForging" id="artifact_forging_radio_1" value="1">
                    <label class="form-check-label" for="artifact_forging_radio_1">
                        No limit to artifact forging
                    </label>
                </div>
                
            </div>
        </div>
    </fieldset>
    
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Event Rarity</legend>
            <div class="col-sm-10">
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="eventRarity" id="event_rarity_radio_1" value="1" checked>
                    <label class="form-check-label" for="event_rarity_radio_1">
                        Common Events
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="eventRarity" id="event_rarity_radio_2" value="2">
                    <label class="form-check-label" for="event_rarity_radio_2">
                        Rare Events
                    </label>
                </div>
                
            </div>
        </div>
    </fieldset>
    
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Story Events</legend>
            <div class="col-sm-10">
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="storyEvents" id="story_events_radio_0" value="0" checked>
                    <label class="form-check-label" for="story_events_radio_0">
                        No Story Events
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="storyEvents" id="story_events_radio_1" value="1">
                    <label class="form-check-label" for="story_events_radio_1">
                        Only Minor Story Events enabled
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="storyEvents" id="story_events_radio_2" value="2">
                    <label class="form-check-label" for="story_events_radio_2">
                        All Story Events enabled
                    </label>
                </div>
                
            </div>
        </div>
    </fieldset>
    
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Scoregraphs</legend>
            <div class="col-sm-10">
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="scoregraphs" id="scoregraphs_radio_0" value="0">
                    <label class="form-check-label" for="scoregraphs_radio_0">
                        Completely disabled
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="scoregraphs" id="scoregraphs_radio_1" value="1" checked>
                    <label class="form-check-label" for="scoregraphs_radio_1">
                        Enabled only through magic sites and spells
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="scoregraphs" id="scoregraphs_radio_2" value="2">
                    <label class="form-check-label" for="scoregraphs_radio_2">
                        Always enabled
                    </label>
                </div>
                
            </div>
        </div>
    </fieldset>
    
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Disciples Mode</legend>
            <div class="col-sm-10">
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="disciples" id="disciples_radio_0" value="0" checked>
                    <label class="form-check-label" for="disciples_radio_0">
                        Disabled
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="disciples" id="disciples_radio_1" value="1">
                    <label class="form-check-label" for="disciples_radio_1">
                        Enabled
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="disciples" id="disciples_radio_2" value="2">
                    <label class="form-check-label" for="disciples_radio_2">
                        Enabled, with clustered starts<br>(do not choose this if you have pre-defined nation starting locations)
                    </label>
                </div>
                
            </div>
        </div>
    </fieldset>
    
    <div class="form-group row">
        <label for="input_timer" class="col-sm-2 col-form-label">Turn Timer</label>
        <div class="col-sm-10 flex_container_row flex_justify_start">

            <div class="margin_right_sm flex_container_row flex_justify_start">
                <input class="margin_right_sm" type="number" id="input_timer_days" name="timerDays" value="1" min="0" max="2" pattern="[0-9]|1[0-9]|2[0-3]">
                <label for="input_timer_days">Days</label>
            </div>
            
            <div class="margin_right_sm flex_container_row flex_justify_start">
                <input class="margin_right_sm" type="number" id="input_timer_hours" name="timerHours" value="12" min="0" max="23" pattern="[0-9]|1[0-9]|2[0-3]">
                <label for="input_timer_hours">Hours</label>
            </div>

            <div class="margin_right_sm flex_container_row flex_justify_start">
                <input class="margin_right_sm" type="number" id="input_timer_minutes" name="timerMinutes" value="0" min="0" max="59" pattern="[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]">
                <label for="input_timer_minutes">Minutes</label>
            </div>

        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-dark btn-lg">Host a new game</button>
        </div>
    </div>

    <!-- Host Script -->
    <script src="../js/host_game.js"></script>
    
</form>

<%- include('../partials/body_end.ejs')-%>
<%- include('../partials/footer.ejs')-%>