<%- include('../partials/head.ejs')-%>
<%- include('../partials/navbar.ejs', { sessionId: (typeof sessionId === "string") ? sessionId : null })-%>

  <body>
    
    <div class="container-fluid">
          
          <div class="row">
            
            <%- include('../partials/sidebar.ejs', { page: "host_dom5", sessionId: (typeof sessionId === "string") ? sessionId : null })-%>
        
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
              
              <div class="align-items-left pt-3 pb-2 mb-3">
                
                <!--  Data does not need to be explicitly passed to partials; they have access to all data passed to
                      this .ejs file as part of the templating process; but it is clearer this way
                -->
                <%- include('../partials/content/host_dom5_screen_content.html', { 
                  sessionId: (typeof sessionId === "string") ? sessionId : null,
                  guilds,
                  servers,
                  nations
                })-%>
                
              </div>
              
              <%- include('../partials/footer.ejs')-%>
              
            </main>
    
          </div>
      
      </div>
    
    </body>
    
</html>