
<%- include('../partials/head.ejs')-%>
<%- include('../partials/body_start.ejs')-%>

<p id="result">

    <%= (typeof result === "string") ? result : "" %>

</p>

<%- include('../partials/body_end.ejs')-%>
<%- include('../partials/footer.ejs')-%>