

<%- include('../partials/head.ejs')-%>
<%- include('../partials/navbar.ejs')-%>


<div id="body" class="h-100 bg" style="border: 1px solid red;">

    <div class="container card" style="border: 1px solid red;">

        <% if (typeof userData !== "object" || typeof userData.token !== "string" || typeof userData.userId !== "string") { %>

            <div>
                <b>Session id:</b> <b>BAD SESSION!</b><br>
            </div>

        <% } else { %>

            <script>
                sessionStorage.setItem("token", userData.token);
            </script>

            <div class="card-body row d-flex align-items-center justify-content-around flex-row" style="border: 1px solid red;">

                <div class="col-3">
                    <form id="host_game_screen_form" action="/host_game" method="GET" style="border: 1px solid red;">
                        <input type="hidden" name="token" value="<%=(typeof userData === "object") ? userData.token : "none"%>"/>
                        <button type="submit" class="btn w-100 btn-secondary rounded-pill" style="border: 1px solid red;">
    
                                <img src="img/throne.png" class="" alt="Discord logo" style="max-width: 50px; border: 1px solid red;">
                                Host a new game
                        </button>
                    </form>
                </div>
                
                <div class="col-3">
                    <form id="change_settings_screen_form" action="/change_game_settings" method="GET" style="border: 1px solid red;">
                        <input type="hidden" name="token" value="<%=(typeof userData === "object") ? userData.token : "none"%>"/>
                        <button type="submit" class="btn w-100 btn-secondary rounded-pill" style="border: 1px solid red;">
                            <img src="img/key.png" alt="Discord logo" style="max-width: 50px; border: 1px solid red;">
                            Change game settings
                        </button>
                    </form>
                </div>
                
                <div class="col-3">
                    <form id="edit_preferences_screen_form" action="/edit_preferences" method="GET" style="border: 1px solid red;">
                        <input type="hidden" name="token" value="<%=(typeof userData === "object") ? userData.token : "none"%>"/>
                        <button type="submit" class="btn w-100 btn-secondary rounded-pill" style="border: 1px solid red;">
                            <img src="img/candlestick.png" alt="Discord logo" style="max-width: 50px; border: 1px solid red;">
                            Edit game preferences
                        </button>
                    </form>
                </div>
            </div>

        <% } %>
    </div>
    
    <% if (typeof userData === "object" && typeof userData.token === "string" && typeof userData.userId === "string") { %>

        <div class="container card" style="border: 1px solid red;">

            <div class="card-header d-flex flex-row align-items-center" style="border: 1px solid red;">
                <img src="img/scepter.png" alt="Discord logo" style="max-width: 50px; border: 1px solid red;">
                <p style="border: 1px solid red;"><b>Hosted Games</b></p>
            </div>
    
            <div id="hostedGamesCardBody" class="card-body d-flex flex-row align-items-center justify-content-center" style="border: 1px solid red;">

                <%- include('../partials/game_table.ejs', { games: (userData != null) ? userData.organizedGames : null })-%>

                <!--
                <%- include('../partials/game_cards.ejs', { games: (userData != null) ? userData.organizedGames : null })-%>
                -->

            </div>
        </div>


        <div class="container card" style="border: 1px solid red;">

            <div class="card-header d-flex flex-row align-items-center" style="border: 1px solid red;">
                <img src="img/sword.png" alt="Discord logo" style="max-width: 50px; border: 1px solid red;">
                <p><b>Games you are playing</b></p>
            </div>
    
            <div class="card-body d-flex flex-row align-items-center justify-content-center" style="border: 1px solid red;">
    
                <%- include('../partials/game_table.ejs', { games: (userData != null) ? userData.playedGames : null })-%>

                <!--
                <%- include('../partials/game_cards.ejs', { games: (userData != null) ? userData.playedGames : null })-%>
                -->
            </div>
        </div>
    <% } %>
    
</div>


<%- include('../partials/footer.ejs')-%>