

<%- include('../partials/head.ejs')-%>
<%- include('../partials/navbar.ejs', {page: "dashboard"})-%>


<div id="body" class="h-100 bg">

    <div class="container card">

        <% if (typeof sessionData !== "object" || typeof sessionData.sessionId !== "string" || typeof sessionData.userId !== "string") { %>

            <div>
                <b>Session id:</b> <b>BAD SESSION!</b><br>
            </div>

        <% } else { %>

            <script src="../js/store_session_id.js"></script>

            <div class="card-body row d-flex align-items-center justify-content-around flex-row">

                <div class="col-3">
                    <form id="host_game_screen_form" action="/host_game" method="GET">
                        <input type="hidden" name="sessionId" value="<%=(typeof sessionData === "object") ? sessionData.sessionId : "none"%>"/>
                        <button type="submit" class="btn w-100 btn-secondary rounded-pill">
    
                                <img src="img/throne.png" class="" alt="Discord logo" style="max-width: 50px; border: 1px solid red;">
                                Host a new game
                        </button>
                    </form>
                </div>
                
                <div class="col-3">
                    <form id="change_settings_screen_form" action="/change_game_settings" method="GET">
                        <input type="hidden" name="sessionId" value="<%=(typeof sessionData === "object") ? sessionData.sessionId : "none"%>"/>
                        <button type="submit" class="btn w-100 btn-secondary rounded-pill">
                            <img src="img/key.png" alt="Discord logo" style="max-width: 50px; border: 1px solid red;">
                            Change game settings
                        </button>
                    </form>
                </div>
                
                <div class="col-3">
                    <form id="edit_preferences_screen_form" action="/edit_preferences" method="GET">
                        <input type="hidden" name="sessionId" value="<%=(typeof sessionData === "object") ? sessionData.sessionId : "none"%>"/>
                        <button type="submit" class="btn w-100 btn-secondary rounded-pill">
                            <img src="img/candlestick.png" alt="Discord logo" style="max-width: 50px; border: 1px solid red;">
                            Edit game preferences
                        </button>
                    </form>
                </div>
            </div>

        <% } %>
    </div>
    
    <% if (typeof sessionData === "object" && typeof sessionData.sessionId === "string" && typeof sessionData.userId === "string") { %>

        <div class="container card">

            <div class="card-header d-flex flex-row align-items-center">
                <img src="img/scepter.png" alt="Discord logo" style="max-width: 50px; border: 1px solid red;">
                <p><b>Hosted Games</b></p>
            </div>
    
            <div id="hostedGamesCardBody" class="card-body d-flex flex-row align-items-center justify-content-center">

                <%- include('../partials/game_table.ejs', { games: (sessionData != null) ? sessionData.organizedGames : null })-%>

                <!--
                <%- include('../partials/game_cards.ejs', { games: (sessionData != null) ? sessionData.organizedGames : null })-%>
                -->

            </div>
        </div>


        <div class="container card">

            <div class="card-header d-flex flex-row align-items-center">
                <img src="img/sword.png" alt="Discord logo" style="max-width: 50px; border: 1px solid red;">
                <p><b>Games you are playing</b></p>
            </div>
    
            <div class="card-body d-flex flex-row align-items-center justify-content-center">
    
                <%- include('../partials/game_table.ejs', { games: (sessionData != null) ? sessionData.playedGames : null })-%>

                <!--
                <%- include('../partials/game_cards.ejs', { games: (sessionData != null) ? sessionData.playedGames : null })-%>
                -->
            </div>
        </div>
    <% } %>
    
</div>


<%- include('../partials/footer.ejs')-%>