<%- include('../partials/head.ejs')-%>
<%- include('../partials/navbar.ejs', { sessionId: (typeof sessionData === "object" && typeof sessionData.sessionId === "string") ? sessionData.sessionId : null })-%>

  <body>
    
    <div class="container-fluid">
          
          <div class="row">
            
            <%- include('../partials/sidebar.ejs', { page: "dashboard", sessionId: (typeof sessionData === "object" && typeof sessionData.sessionId === "string") ? sessionData.sessionId : null })-%>
        
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
              
              <div class="align-items-left pt-3 pb-2 mb-3">
                  
                <%- include('../partials/content/user_home_screen_content.html', { sessionData: (typeof sessionData === "object") ? sessionData : null })-%>
                
              </div>
              
              <%- include('../partials/footer.ejs')-%>
              
            </main>
    
          </div>
      
      </div>
    
    </body>

</html>